{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="container">
    <h1 class="mt-5">mx2rss</h1>
    <p class="lead">Reduce the newsletters in your inbox. Create an email forwarder with below and subscribe to RSS feed shown in the next page.</p>
    <p>Enter a new email address for subscribing newsletters:</p>
    <form action="/new" method="post">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="email" class="col-form-label">Email:</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="email" name="email" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                @{{domain}}
                </span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <p></p>
    <div class="alert alert-primary" role="alert">
        <h4>Important:</h4>
        <p>RSS feeds are protected by a passphrase but still publicly accessible if someone learns the URL.</p>
        <p>Don't use this for websites send sensitive information like password recovery, confirmation codes etc.</p>
        <p>In general don't use this for creating accounts.</p>
        <p>You can setup auto forwarders from gmail etc. but keep above points in mind.</p>
    </div>
{% endblock %}